<div class="row">
	<div class="twelve columns">
		<div class="panel callout radius center">
			<h3>Schedule</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-6 columns">
		<div class="panel round">
			<p>
				The day schedule goes here. <br />
				The day schedule goes here. <br />
				The day schedule goes here. <br />
				The day schedule goes here. <br />
				The day schedule goes here. <br />
				The day schedule goes here. <br />
				The day schedule goes here.
			</p>
		</div>
	</div>

	<div class="large-6 columns">
		<div class="panel round">
			<iframe src="https://www.google.com/calendar/embed?src=developer.ronnie%40gmail.com&ctz=Africa/Nairobi" style="border: 0" width="400" height="300" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</div>
